h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1:hover {
    background-color: azure;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2:hover{
    opacity: 0.5;
    transition: opacity 1s;
    background-color: black;
    color: aliceblue;
    font-size: 200%;
}

body{
    font-family:cursive;
    background-color: beige;
}

p{
    margin-left: auto;
    padding: 10px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
}